DATABASE_URL=postgres://sbire_user:sbire_password@localhost:5432/sbire?sslmode=disable
LTI_JWKS_URL=http://localhost:8080/mod/lti/certs.php
LTI_CLIENT_ID=PmTFD2BvvquxJsc
MOODLE_AUTH_URL=http://localhost:8080/mod/lti/auth.php
REDIRECT_URI=http://localhost:8000/api/v1/auth/lti/launch
FRONTEND_URL=http://localhost:5173
# JWT Configuration
JWT_SECRET_KEY=change-me-in-production
